/* CSS for the about-page component */
.about-page {
    padding-top: 100px; 
  }
  
  /* CSS for the hero section */
  .hero-section {
    position: relative;
    height: 600px; 
    background-color: #f5f5f5; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-section .hero-text {
    text-align: center;
  }
  
  .hero-section .hero-text h1 {
    font-size: 48px; 
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-section .hero-text p {
    font-size: 24px; 
  }
  
  /* CSS for the about-content section */
  .about-content {
    background-color: #ffffff; 
    padding: 80px 0;
    margin-top: 20px; 
  }
  
  .about-content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-bio {
    flex: 1;
    margin-right: 40px; 
  }
  
  .about-bio h2 {
    font-size: 36px; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .about-bio h3 {
    font-size: 21px; 
    text-align: center;
    margin-bottom: 20px;
  }
  .about-bio p {
    font-size: 18px; 
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-photo .photo {
    width: 100%; 
    max-width: 400px; 
  }
  
  /* Additional styles for responsiveness */
  @media (max-width: 768px) {
    .about-content .container {
      flex-direction: column;
    }
  
    .about-bio,
    .about-photo {
      margin-right: 0;
      margin-bottom: 40px; 
    }
    .about-bio,
    .about-photo {
    margin: 0 auto;
    padding: 0 20px;
  }
    .about-photo .photo {
      max-width: 100%;
    }
    .about-bio {
      text-align: center;
    }
    .about-bio h2 {
      font-size: 28px;
    }
    .about-bio h3 {
      font-size: 18px;
    }
    .about-bio p {
      font-size: 16px;
    }
  }
 
  /* CSS for the skills section */
.about-skills {
    margin-top: 40px; 
  }
  .about-skill h2 {
    font-size: 36px; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-skill p {
    font-size: 18px; 
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .skill-item {
    margin-bottom: 20px; 
  }
  
  .skill-item h3 {
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f5f5f5; 
  }
  
  .progress {
    height: 100%;
    background-color: #0B666A; 
  }
  
  .skill-percentage {
    font-size: 14px; 
    font-weight: bold;
    margin-top: 4px;
  }

  /* Services Section */
.about-services {
  padding: 60px 0;
}

.about-services h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.about-services p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px;
}

.about-services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}

.about-services .col-lg-4 {
  width: calc(33.3333333333% - 30px);
  margin: 0 15px;
  margin-bottom: 30px;
}

.about-services .card {
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.about-services .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.about-services .card-box:hover .icon {
  color: #0B666A;
}
.card:hover .title,
.card:hover .icon {
  color: #0B666A;
}

.about-services .card-image {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.about-services .icon {
  font-size: 36px;
  color: #333;
  transition: color 0.3s ease;
}

.about-services .card-content {
  padding: 20px;
}

.about-services .title {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-services .description {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Responsive Styles */

/* Medium devices (tablets) */
@media (max-width: 992px) {
  .about-services .col-lg-4 {
    width: calc(50% - 30px);
  }
}

/* Small devices (phones) */
@media (max-width: 768px) {
  .about-services .col-lg-4 {
    width: 100%;
  }
  
  .about-services .row {
    justify-content: center;
  }
  
  .about-services .card {
    width: 80%;
    margin: 0 auto;
  }
}



/* Facts Section */
.about-facts {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.about-facts .container {
  max-width: 1024px;
  margin: 0 auto;
}

.about-facts h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.about-facts p {
  text-align: center;
  color: #6c757d;
  margin-bottom: 40px;
}

.wrapper {
  width: 100%;
  max-width: 980px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.counter {
  flex: 0 0 calc(23.5% - 20px);
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

.counter:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  color: #0B666A;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .counter {
    flex: 0 0 100%;
  }
}

  
/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;

	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/* Testimonial */
  .about-testimonial {
    margin-top: 40px; 
  }
  .about-testimonial h2 {
    font-size: 36px; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-testimonial p {
    font-size: 18px; 
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
  }

.testimonial-card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .about-testimonial .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .about-testimonial .container {
    padding: 0 20px; 
  }
/* Add this style for the rating stars */
.rating {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-bottom: 8px;
}

.star {
  width: 16px;
  height: 16px;
  background-color: #000; 
  border-radius: 50%;
}

.star.active {
  background-color: #ffc107; 
}


.block:hover h5,
.block:hover h6 {
  color: #0B666A;
}

.block {
  border-radius: 12px;
  overflow: hidden;
}

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px; 
  }
}
